<article class="service-card service-{{ service_icon }}">
    <div class="service-card-top"><span class="service-icon">{% include icon.html name=service_icon %}</span><span class="service-number">0{{ forloop.index }}</span></div>
    <h3>{{ service.title }}</h3>
    <p>{{ service.summary }}</p>
    <a class="text-link" href="{{ site.baseurl }}{{ service.url }}">{% t home.service_details %}<span class="visually-hidden">: {{ service.title }}</span>{% include icon.html name='arrow' %}</a>
</article>
