<div class="columns has-text-centered" id="services-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{service.image}});"></div>
    </div>
    <div class="column has-text-left-desktop has-text-left-tablet">
        <h1 class="title is-size-4-touch">{{service.title}}</h1>
        <div class="content has-text-grey">
            {{ service.content }}
            <hr class="has-background-grey">
        </div>
    </div>
</div>