---
layout: post
---

{{ content }}

{% if site.disqus-shortname and site.disqus-shortname != '' %}
<section aria-labelledby="comments-title">
    <h2 id="comments-title">{% if page.lang == 'nl' %}Reacties{% else %}Comments{% endif %}</h2>
    <div class="disqus-comments" id="disqus_thread"></div>
</section>
<script>
    (function () {
        const script = document.createElement('script');
        script.src = {{ site.disqus-shortname | prepend: 'https://' | append: '.disqus.com/embed.js' | jsonify }};
        script.setAttribute('data-timestamp', Date.now());
        (document.head || document.body).appendChild(script);
    })();
</script>
{% endif %}
